:export {
  menuText: #bfcbd9;
  menuActiveText: #409EFF;
  subMenuActiveText: #f4f4f5;
  menuBg: #1A1E29;
  menuHover: #263445;
  subMenuBg: #10121A;
  subMenuHover: #001528;
  sideBarWidth: 210px;
}
